
@model List<Package>

<div class="js_card m-auto">
    
</div>
<h4>Contattaci per più informazioni</h4>
<div class="container">
<div class="row">
    <div class="col-12">
            <form onsubmit="SendMessage(event)" id="messageForm">
            <div class="mb-3">
                <label for="contact-email" class="form-label">Email</label>
                <input type="email" class="form-control" id="contact-email">
            </div>
            <div class="mb-3">
                <label for="contact-name" class="form-label">Nome</label>
                <input type="text" class="form-control " id="contact-name">
            </div>
            <div class="mb-3">
                <label for="contact-title" class="form-label">Titolo</label>
                <input type="text" class="form-control" id="contact-title">
            </div>
            <div class="mb-3">
                <label for="contact-text" class="form-label">Testo</label>
                <textarea class="form-control" id="contact-text" rows="10"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Invia" />
        </form>
    </div>
</div>
</div>

@Html.Partial("_Footer")


<script type="text/javascript">
   
    let id = window.location.pathname.split('/')[3];

    

        axios.get('/api/user/get/' + id ).then(r => {
            const package = r.data;
            document.querySelector('.js_card').innerHTML = '';
            
                document.querySelector('.js_card').innerHTML +=
                    `
                            <div class="m-auto container">
                                    <img src="${package.image}" class="card-img-top" alt="..." style="max-height:500px">
                                <div class="card-body text-center">
                                    <h5 class="card-title">${package.name}</h5>
                                    <p class="card-text">${package.description}</p>
                                    <a href="@Url.Action("Index", "User")" class="btn btn-primary">Indietro</a>
                                </div>
                            </div>
                    `;
        }).catch(e => {
            console.log(e);
        });

    function SendMessage(e) {
        e.preventDefault();
        axios.post("/api/user/send", {
            email: document.querySelector('#contact-email').value,
            name: document.querySelector('#contact-name').value,
            title: document.querySelector('#contact-title').value,
            text: document.querySelector('#contact-text').value,
            packageid: id,
        }).then(res => {
            document.querySelector('#contact-email').value = '';
            document.querySelector('#contact-name').value = '';
            document.querySelector('#contact-title').value = '';
            document.querySelector('#contact-text').value = '';
            alert('Messaggio inviato correttamente');
        }).catch(err => {
            const datas = ["email", "name", "title", "text"];
            for (let i = 0; i < datas.length; i++) {
                if (document.querySelector(`#contact-${datas[i]}`).value == "") {
                    document.querySelector(`#contact-${datas[i]}`).classList.add("is-invalid");
                    errors = true;
                } else {
                    document.querySelector(`#contact-${datas[i]}`).classList.remove("is-invalid");
                }
            }

        })

    }
    

   
    
    
</script>

