
@model List<Package>
<div class="my-3">
    <input type="text" class="form-control js_search" placeholder="Cerca...">
</div>
<div class="row cardBody text-center">


    
</div>


<script type="text/javascript">
   
    GetPackages("");
    document.querySelector(".js_search").addEventListener('keyup', searchPack);

    function searchPack() {
        let str = this.value;
        GetPackages(str);
    }

    function GetPackages(str) {

        axios.get('/api/user/get', {
            params: {
                str:str
            }
        })
        .then(r => {
            console.log(r);
            document.querySelector('.cardBody').innerHTML = '';
                for (let i = 0; i < r.data.length; i++) {
                    document.querySelector('.cardBody').innerHTML +=
                        `
                         <div class="col-sm-6">
                             <div class="card mb-3" style="box-shadow: 4px 4px 8px 1px #888888;">
                                 <div class="card-body">
                                     <img class="card-img" src="${r.data[i].image}">
                                     <h5 class="card-title">${r.data[i].name}</h5>
                                     <p class="">${r.data[i].description}</p>
                                     <p class="">Prezzo a persona: ${r.data[i].price}</p>
                                     <p class="">Viaggio di ${r.data[i].days} giorni</p>

                                 </div>
                             </div>
                         </div>

                        `;
            }
        }).catch(e => {
            console.log(e);
        });
    }
   
    
    
</script>

